#pokemonName {
    font-size: 60px;
    color: cornsilk;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    border-radius: 30px
}


#pokemonNumber {
    font-size: 20px;
}



h1 {
    font-size: 40px;
    color:black;
    background-color:orange;
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 20px ;
    border-radius: 25px
}


h5 {
    text-align: center;
}


.searchBox {
    position: relative;
}


.searchBox i {
    position: absolute;
    top: 14px;
    right: 10px;
    opacity: .4;
}


#pokemon-type1 {
    border-radius: 25px;
}

.callout {
    border-radius: 40px;
}